[run]
branch=True
source=
    bucketcache/
    tests/

[paths]
source=
    bucketcache
    .tox/*/lib/python*/site-packages/bucketcache

[report]
exclude_lines =
    def __repr__
    def _repr
    raise NotImplementedError
    except ImportError:
    pass
    raise$
    def test_cache_overhead
    def test_cache_no_overhead
    def test_deferred_performance
    def test_standard_performance
    pytest.main()
